<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Third project for Hexlet.io">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Анализатор страниц</title>
</head>
<body class="min-vh-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
            <a class="navbar-brand" href="{{ url_for('main_page') }}">Анализатор страниц</a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link " href="{{ url_for('get_urls') }}">Сайты</a></li>
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
    </header>

    <main class="flex-grow-1">
        <div class="container-lg mt-3">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
                    <h1 class="display-3">Анализатор страниц</h1>
                    <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
                    <form action="{{ url_for('post_urls') }}" method="post" class="d-flex justify-content-center" required>
                        <input type="text" name="url" placeholder="https://www.example.com" value="{{ url }}"  class="form-control form-control-lg">
                        <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
                    <p class="lead">
                        SEO-анализ сайта — это процесс оценки и анализа веб-сайта с целью определения того, как хорошо он оптимизирован для поисковых систем (SEO - Search Engine Optimization). Целью SEO-анализа является определение технических и контентных факторов, которые могут повлиять на позиционирование сайта в результатах поисковой выдачи.
                    </p>
                    <br>
                    <p class="lead">
                        SEO-анализ является важным инструментом для оптимизации веб-сайта с целью улучшения его позиций в результатах поисковых систем и привлечения большего количества органического трафика.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>